.app-header {
    background-color: #ffffff;
    padding: 28px 26px;
}
.app-header a img {
    width: 77px;
    height: 28px;
}
@media (min-width: 1024px) {
    .app-header {
        background-color: #ffffff;
        padding: 20px;
    }
    .app-header a img {
        width: 128px;
        height: 46px;
    }
}