.change-password .change-password__form {
    width: 417px;
    max-width: 100%;
    margin: 45px auto 0;
    padding: 0 20px;
}

.change-password__form .form__group {
    margin-bottom: 30px;
    position: relative;
}

.change-password__form .form__label {
    opacity: 0.6;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.change-password__form .form__input {
    width: 100%;
    max-width: 100%;
    height: 48px;
    border: 1px solid #979797;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.56px;
    padding-left: 12px;
    padding-right: 40px;
    border-radius: 0;
    margin-bottom: 1px;
}

.change-password__form .form__input:focus {
    outline: 0;
}

.change-password__form .form__icon-eye {
    position: absolute;
    z-index: 2;
    top: 37px;
    right: 11px;
    width: 26px;
    height: 16px;
    background-image: url('../../../assets/images/eye_desk.png');
}

.change-password__form .form__icon-eye.active {
    background-image: url('../../../assets/images/eye-active-desk.png');
}

.change-password__form .form__message-error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.33px;
    line-height: 22px;
    text-transform: none;
    padding-bottom: 0;
    text-align: center;
    display: none;
}

.change-password__form .form__message-error.error__show {
    display: block;
}

.change-password__form .change-password__button {
    width: 388px;
    max-width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #3a5cac;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2.22px;
    text-transform: uppercase;
    border: none;
    display: block;
    margin: 48px auto;
}

.change-password__form .change-password__button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.change-password__form label.error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.33px;
    line-height: 22px;
    text-transform: none;
    padding-bottom: 0;
}

.change-password__form label.error::first-letter {
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .change-password .change-password__form {
        padding: 0;
    }
}
