.app-wrapper__resetPassword {
    padding: 0 20px 50px;
}

.app-wrapper__resetPassword .contentPage {
    width: 80%;
    margin: auto;
}

.reset-password {
    width: 417px;
    margin: auto;
}

.reset-password .message-error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.33px;
    line-height: 22px;
    text-transform: none;
    padding-bottom: 0;
    text-align: center;
}

.contentPage .form-group {
    padding-bottom: 18px;
    position: relative;
}

.contentPage .form-group label {
    opacity: 0.6;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.contentPage .form-group .form-control__input {
    width: 100%;
    height: 48px;
    border: 1px solid #979797;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.56px;
    padding-left: 12px;
    border-radius: 0;
    margin-bottom: 1px;
}

.app-wrapper__resetPassword .form-group .eye {
    position: absolute;
    top: 37px;
    right: 11px;
    width: 26px;
    height: 16px;
    background-image: url('../../images/eye_desk.png');
}

.app-wrapper__resetPassword .btn {
    text-align: center;
    padding-top: 20px;
}

.app-wrapper__resetPassword .btn .btn__reset {
    width: 388px;
    height: 60px;
    border-radius: 30px;
    background-color: #3a5cac;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2.22px;
    text-transform: uppercase;
    border: none;
}

.app-wrapper__resetPassword .form-group label.error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.33px;
    line-height: 22px;
    text-transform: none;
    padding-bottom: 0;
}

.app-wrapper__resetPassword .btn button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.app-wrapper__resetPassword .form-group .eye.active {
    background-image: url('../../images/eye-active-desk.png');
}

@media (max-width: 768px) {

    .app-wrapper__resetPassword .contentPage {
        width: 100%;
    }

    .reset-password {
        width: 100%;
    }

    .contentPage .form-group label {
        font-size: 12px;
        letter-spacing: 1.33px;
    }

    .app-wrapper__resetPassword .btn .btn__reset {
        width: 280px;
        height: 48px;
        font-size: 16px;
        letter-spacing: 1.78px;
    }
}